html{
  background-color: black;
}
.body{
  background-color: black;
  height: 100vh;
}

.Logo{
  height: 30vh;
  width: 85vw;
}

.drinkimgBoxLogo{
  background-color: black;
  width: 100%;
    color:springgreen;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 500;
}


/* .App{
  border: solid 2px red;

} */